<!DOCTYPE html>
<html>
<head>
  <title>Automated Responses</title>
</head>
<body>
  <table>
    <tr>
      <th>Keywords</th>
      <th>Response</th>
    </tr>
    <!-- This will be replaced with a loop to display all the responses -->
    <tr>
      <td>Meeting</td>
      <td>The meeting is scheduled on 01/01/2022 at 10:00 AM</td>
    </tr>
  </table>
  <form>
    <label for="keywords">Keywords</label>
    <input type="text" id="keywords" name="keywords">
    <br>
    <label for="response">Response</label>
    <input type="text" id="response" name="response">
    <br>
    <input type="submit" value="Add">
  </form>
</body>
</html>
