<!-- emails.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Emails and Attachments</title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Emails and Attachments</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>From</th>
                        <th>Attachment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item.Subject }}</td>
                        <td>{{ item.From }}</td>
                        <td>{{ item.Attachment }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
